//mixins

$colorPrimary: #007bff;
$colorSecondary: #6c757d;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorInfo: #17a2b8;
$colorLight: #f8f9fa;
$colorDark: #343a40;

//default layout
.container {
  max-width: 1150px;
  margin: 0 auto;
}